---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseHead from "~/components/BaseHead.astro";
import dayjs from "dayjs";
import relativeTime from "dayjs/plugin/relativeTime";
import { Icon } from "astro-icon/components";
import ChordLayout from "../../layouts/ChordLayout.astro";
import ChordSidebar from "~/components/ChordSidebar.astro";
import * as chord_md from "../../content/chord/gfriend-time_for_the_moon_night.md";
import "dayjs/locale/id";

dayjs.extend(relativeTime);

export async function getStaticPaths() {
  const chords = await getCollection("chord");
  return chords.map((chord) => ({
    params: { slug: chord.slug },
    props: chord,
  }));
}
type Props = CollectionEntry<"chord">;

const chord = Astro.props;

const data: Record<string, { bar: string; time: string }[]> = {};
let rec_data = "";
chord_md
  .rawContent()
  .split("\n")
  .filter((v) => v !== "")
  .forEach((v) => {
    if (/\[(.*?)\]/.test(v)) {
      data[v] = [];
      rec_data = v;
      console.log(v);
      return;
    }
    const [bar, time] = v.split(",");
    data[rec_data].push({ bar, time });
  });
console.log(data);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={"Kunci Gitar"}
      description={"Kunci Gitar"}
      transition={false}
    />
  </head>
  <body
    class="bg-gray-950 text-white p-2 flex flex-col flex-1 overflow-y-hidden"
  >
    <main class="flex gap-4 flex-1">
      <ChordSidebar />
      <section
        class="flex items-center flex-col basis-4/5 flex-1 text-white bg-red-950 p-4 rounded-lg"
      >
        <div
          class="h-1/2 overflow-y-auto pr-6 text-4xl font-bold scrollbar-thin scrollbar-track-red-950 scrollbar-thumb-red-950 pb-48"
        >
          {
            Object.keys(data).map((key, i) => {
              const next =
                i + 1 === Object.keys(data).length
                  ? undefined
                  : data[Object.keys(data)[i + 1]];
              return (
                <>
                  <div class="text-white/10">{key.replaceAll(".", "")}</div>
                  <div class="mb-4">
                    {(data[key] as { bar: string; time: string }[]).map(
                      (v, ii) => {
                        const to =
                          ii + 1 !== data[key].length
                            ? data[key][ii + 1].time
                            : next?.[0].time ?? "";
                        const [minFrom, secFrom] = v.time
                          .split(":")
                          .map((a) => Number(a));

                        const [minTo, secTo] = to
                          .split(":")
                          .map((a) => Number(a));
                        return (
                          <div
                            data-from={minFrom * 60 + secFrom}
                            data-to={
                              isNaN(minTo * 60 + secTo)
                                ? ""
                                : minTo * 60 + secTo
                            }
                            class="text-white/10 mb-1 bar"
                            style="color: rgb(255 255 255 / 0.1);"
                          >
                            {v.bar}
                          </div>
                        );
                      },
                    )}
                  </div>
                </>
              );
            })
          }
        </div>
      </section>
      <div
        class="fixed bottom-0 left-0 z-50 flex w-full flex-1 items-center gap-3 rounded-lg rounded-b-none border bg-slate-950 p-2"
      >
        <div class="flex items-center justify-between flex-1">
          <div class="flex items-center gap-6 text-lg">
            <iframe
              id="player"
              width="100"
              height="100"
              src={`https://www.youtube.com/embed/${chord.data.ytID}?enablejsapi=1&autoplay=1`}
              frameborder="0"
              style="border: solid 4px #37474F"></iframe>
            <div>
              <p class="font-bold">{chord.data.title}</p>
              <p>{chord.data.artist}</p>
            </div>
          </div>
          <div class="flex flex-col items-center gap-4">
            <div class="flex items-center gap-4">
              <Icon
                id="rewind10"
                name="mdi:rewind-10"
                class="w-8 h-8 hover:scale-110 transition"
              />

              <button id="mediabtn" type="button">
                <Icon
                  id="play"
                  name="mdi:play"
                  class="w-8 h-8 hover:scale-110 transition"
                />
                <Icon
                  id="pause"
                  name="mdi:pause"
                  class="w-8 h-8 hover:scale-110 transition hidden"
                />
                <Icon
                  id="buffer"
                  name="mdi:progress-helper"
                  class="w-8 h-8 hover:scale-110 transition hidden"
                />
              </button>
              <Icon
                id="fw10"
                name="mdi:fast-forward-10"
                class="w-8 h-8 hover:scale-110 transition"
              />
            </div>
            <div class="flex items-center gap-4">
              <p id="curr-time"></p>
              <div
                class="w-[300px] bg-gray-200 rounded-full h-1.5 dark:bg-gray-700"
              >
                <div
                  class="bg-blue-600 h-1.5 rounded-full dark:bg-blue-500"
                  style="width: 0%"
                  id="progress-bar"
                >
                </div>
              </div>
              <p id="total-time"></p>
            </div>
          </div>
          <div id="status">makan</div>
          <div class="hidden"></div>
        </div>
      </div>
      <script type="text/javascript" is:inline>
        var tag = document.createElement("script");
        tag.id = "iframe-demo";
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName("script")[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        const playBtn = document.querySelector("#play");
        const pauseBtn = document.querySelector("#pause");
        let btnMedia = {
          pause: () => {
            if (playBtn.classList.contains("hidden"))
              playBtn.classList.remove("hidden");
            if (!pauseBtn.classList.contains("hidden"))
              pauseBtn.classList.add("hidden");
          },
          play: () => {
            if (!playBtn.classList.contains("hidden"))
              playBtn.classList.add("hidden");
            if (pauseBtn.classList.contains("hidden"))
              pauseBtn.classList.remove("hidden");
          },
        };

        const barEls = document.querySelectorAll(".bar");
        const timeFrom = Array.from(barEls).map(
          (el) => el.getAttribute("data-from") ?? "",
        );
        let prev_time = -1;
        let currIndex = -1;

        var player;
        let index = 0;
        const intervalFunc = () => {
          if (player) {
            const currTime = parseInt(player.getCurrentTime());
            const minutes = Math.floor(currTime / 60);
            const second = currTime - minutes * 60;
            const curr_time_dom = `${minutes}:${second.toString().length === 1 ? `0${second}` : second}`;
            document.querySelector("#curr-time").innerHTML = curr_time_dom;
            document.querySelector("#progress-bar").style.width =
              `${(parseInt(player.getCurrentTime()) / player.getDuration()) * 100}%`;

            timeFrom.some((v, i) => {
              const time = Number(v);
              if (i === timeFrom?.length - 1 && currTime > time) {
                index = i;
                return true;
              }

              if (time <= currTime && Number(timeFrom[i + 1]) >= currTime) {
                index = i;
                return true;
              }

              index = i;
            });

            if (
              player.getPlayerState() == 1 &&
              document.querySelector(`[data-from='${timeFrom[index]}']`)
            ) {
              if (prev_time != -1) {
                document.querySelector(
                  `[data-from='${prev_time}']`,
                ).style.color = "rgb(255 255 255 / 0.1)";
              }
              prev_time = timeFrom[index];
              document.querySelector(
                `[data-from='${timeFrom[index]}']`,
              ).style.color = "rgb(255 255 255)";
            }
          }
        };
        let interval;

        function onYouTubeIframeAPIReady() {
          player = new YT.Player("player", {
            playerVars: {
              autoplay: 1,
              loop: 1,
              mute: 1, // N.B. here the mute settings.
              playsinline: 1,
            },
            events: {
              onApiChange: (event) => {},
              onReady: (event) => {
                const duration = event.target.getDuration();
                const minutes = Math.floor(duration / 60);
                const second = duration - minutes * 60;

                document.getElementById("player").style.borderColor = "#FF6D00";
                document.querySelector("#status").innerHTML = "cued";
                document.querySelector("#curr-time").innerHTML = `0:00`;
                document.querySelector("#total-time").innerHTML =
                  `${minutes}:${second}`;
              },
              onStateChange: (event) => {
                const playerStatus = event.data;
                let color;
                let status;
                if (playerStatus == -1) {
                  color = "#37474F"; // unstarted = gray
                  status = "unstarted";
                  btnMedia.pause();
                } else if (playerStatus == 0) {
                  color = "#FFFF00"; // ended = yellow
                  if (interval) clearInterval(interval);
                  status = "ended";
                } else if (playerStatus == 1) {
                  color = "#33691E"; // playing = green
                  interval = setInterval(intervalFunc, 1000);
                  btnMedia.play();
                  status = "playing";
                } else if (playerStatus == 2) {
                  color = "#DD2C00"; // paused = red
                  if (interval) clearInterval(interval);
                  btnMedia.pause();
                  status = "paused";
                } else if (playerStatus == 3) {
                  color = "#AA00FF"; // buffering = purple
                  status = "buffering";
                } else if (playerStatus == 5) {
                  color = "#FF6DOO"; // video cued = orange
                  status = "cued";
                }
                if (color) {
                  document.getElementById("player").style.borderColor = color;
                }
                if (status) {
                  document.querySelector("#status").innerHTML = status;
                }
              },
            },
          });
        }

        document.querySelector("#mediabtn").addEventListener("click", () => {
          const state = player.getPlayerState();
          if (state == 1) {
            btnMedia.pause();
            player.pauseVideo();
          } else if (state == 2 || state == 5 || state == -1) {
            btnMedia.play();
            player.playVideo();
          }
        });

        document.querySelector("#rewind10").addEventListener("click", () => {
          const time = player.getCurrentTime();
          const seek = Number(time) - 10;
          if (seek < 0) {
            player.seekTo(0);
            return;
          }
          player.seekTo(seek);
        });
        document.querySelector("#fw10").addEventListener("click", () => {
          const time = player.getCurrentTime();
          const seek = Number(time) + 10;
          player.seekTo();
          if (seek > Number(player.getDuration())) {
            player.seekTo(player.getDuration());
            return;
          }

          player.seekTo(seek);
        });
      </script>
    </main>
  </body>
</html>
